POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_HOST=db
DB_PORT=5432
SECRET_KEY=ewbdsmdcbjhwqckg6*%6d51ef8f4!r3*vmxm4)abgjw8mo!4y-q*uq1!4-89
ALLOWED_HOSTS=localhost,127.0.0.1,backend
DEBUG=False
TIME_ZONE=Europe/Saratov
USE_SQLITE=False
DOCKER_USERNAME=khmh